//$global-link-color: #da4c59;

$global-primary-background: #3aa3e3 !default;
$global-secondary-background: #24b662 !default;
$global-danger-background: #c9302c !default;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

@import "~uikit/src/scss/uikit-theme.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background: #f0f0f0;
}

.list-close {
  float: right;
}

.checked-box {
  cursor: pointer;
}

.checked {
  color: rgba(0, 128, 0, 0.63) !important;
  &:before {
    content: '✔ ';
  }
}

.form {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  width: 40%;
  margin: 30px auto;
  padding: 15px;
  &__group {
    position: relative;
    margin-top: 15px;
  }
  &__group .delete {
    position: absolute;
    top: 6px;
    right: 0;
  }
  &__group label {
    display: block;
    margin-bottom: 5px;
  }
  &__control {
    width: 100%;
    display: block;
    background: #fafafa;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 8px;
    &:focus {
      background: rgba(255, 245, 254, 0.31);
    }
  }
  &__edit {
    margin: 15px 0;
  }
  &__title {
    font-size: 2em;
  }
}

.btn {
  border: none;
  border-radius: 2px;
  font-size: 13px;
  height: 30px;
  padding: 8px 16px;
  cursor: pointer;
  background: #f4f4f4;
  color: #484746;
  box-shadow: 0 1px darken(#f4f4f4, 13%);
  outline: none;
  text-decoration: none;
  display: inline-block;
  line-height: 1.15em;
  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &[disabled] {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &__primary {
    background: #3aa3e3;
    color: #fff;
    box-shadow: 0 1px darken(#3aa3e3, 13%);
  }
  &__danger {
    background: #e75650;
    color: #fff;
    box-shadow: 0 1px darken(#e75650, 13%);
  }
}

.error {
  &__control {
    color: #e53935;
  }
  &__bg {
    background: #ffcdd2 !important;
  }
}

.delete {
  position: absolute;
  top: 8px;
  right: 0;
}

.navbar-todo {
  background: #fff !important;
}

.pagination-active{
  color: #0f6ecd !important;
}